* {
  margin: 0;
  padding: 0;
}

.navBar {
  border: 5px solid black;
  width: 200px;
  height: 100vh;
  border-left: none;
  border-bottom: none;
  border-top: none;

  .search {
    width: 170px;
    height: 30px;
    margin: 15px;
    font-size: 20px;
  }

  ul {
    list-style: none;
  }

  .filterSection {
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }
}