* {
  margin: 0;
  padding: 0;
}

.beerCard {
  border: 5px solid black;
  height: 380px;
  width: 285px;
  display: flex;
  padding: 10px;
  margin: 20px;

  &__image {
    width: 100px;
    height: 300px;
  }
  
  &__info{
    margin-left: 20px;
  }
}


